.card__delete {
  background-image: url('../../../images/delete-button.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 19.3px;
  position: absolute;
  top: 18px;
  right: 15px;
  transition: background-image .3s linear;
  border: none;
  outline: none;
  background-color: transparent;
  display: block;
}

.card__delete:hover {
  background-image: url('../../../images/delete-button-hover.svg');
  cursor: pointer;
}
