.login__input {
  height: 40px;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #CCCCCC;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  color: #CCCCCC;
  margin: 17px 0;
  box-sizing: border-box;
}

.login__input:focus {
  outline: none;
}
